.text-product{
    display: grid;
    text-align: left;
    justify-content: left;
}
.stock-box{
    text-align: left;
}
.spec-table{
    text-align: left;
}
.rate-box{
    text-align: left;
}
.review-box{
    text-align: left;
}